$btn-size: 56px;
$btn-position: 4px;
$btn-margin: 12px;
$btn-font-size: 30px;

$layer-picker-padding-left: 10px;


#root {
  display: flex;
  flex-direction: column;
}



.leaflet-container {
  flex: 1;
  z-index: 0;
  outline: none;
}


.btn--map {
  @extend .btn--white;
  @extend .btn--raised;

  margin: $btn-margin;
  width: $btn-size;
  height: $btn-size;
  border-radius: 50%;
  font-size: 22px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: white;
}


.layer-picker {
  &__overlay {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(black, .2);

    display: none;
    opacity: 0;
    &.animate-enter,
    &.animate-enter-done,
    &.animate-exit {
      display: flex;
    }
    &.animate-enter {
      transition: opacity 500ms;
    }
    &.animate-enter-active,
    &.animate-enter-done {
      opacity: 1;
    }
    &.animate-exit {
      transition: opacity 300ms;
    }
  }


  &__box {
    position: fixed;
    z-index: 101;
    top: 0;
    bottom: 0;
    left: 0;

    @include media-breakpoint-up(sm) {
      width: 300px;
    }

    display: none;
    flex-direction: column;

    background: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    transform: translateX(-110%);

    &.animate-enter,
    &.animate-enter-done,
    &.animate-exit {
      display: flex;
    }
    &.animate-enter {
      transition: transform 300ms;
    }
    &.animate-enter-active,
    &.animate-enter-done {
      transform: none;
    }
    &.animate-exit {
      transition: transform 200ms;
    }
  }

  &__header {
    display: flex;
    margin: 4px;
  }

  &__content {
    flex: 1 0 0;
    overflow: auto;
  }

  &__title {
    flex-grow: 1;
    margin: 6px;
  }

  &__item {
    padding: 2px 0;
    display: flex;

    &.selected {
      background: adjust-color(white, $lightness: -10%);;
    }
  }

  &__item-border {
    width: 5px;
  }

  &__item-icon {
    align-self: center;
    width: 44px;
    margin-left: 2px;
    margin-right: -2px;
    text-align: center;
    font-size: 24px;
    white-space: nowrap;
  }

  &__item-content {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 8px 24px 8px $layer-picker-padding-left;
  }

  &__item-info {
    @extend .muted;
    font-size: 12px;
    font-weight: 500;
  }
}

.picker-btns {
  position: absolute;
  top: $btn-position;
  left: $btn-position;
}

.zoom-btns {
  position: absolute;
  top: $btn-position;
  right: $btn-position;
}


.secondary-icon {
  color: #61666b;
}



.selected-travel {
  flex: none;
  display: flex;
  flex-direction: column;

  &__border {
    height: 5px;
  }

  &__body {
    position: relative;
    display: flex;
    padding: 4px;

    @include media-breakpoint-up(md) {
      padding-top: 10px;
      padding-bottom: 30px;
    }
  }

  &__elevation-map-wrapper {
    position: absolute;
    top: 4px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
  }
  &__elevation-map {
    width: 100%;
    height: 100%;
  }

  &__icon {
    align-self: center;
    width: 50px;
    text-align: center;
    font-size: 28px;
    white-space: nowrap;
  }

  &__content {
    margin: 6px;
  }

  &__name {
    font-size: 120%;
  }

  &__info {
    @extend .muted;
    font-size: 14px;
    font-weight: 500;
  }
}
