$button-size: 50px;
$button-font-size: 30px;



.leaflet-container {
  height: 100%;
  z-index: 0;
}


.leaflet-touch {
  .leaflet-bar a {
    width: $button-size;
    height: $button-size;
    line-height: $button-size;
  }

  .leaflet-control-zoom-in, .leaflet-control-zoom-out {
    font-size: $button-font-size;
  }
}


.btn--map {
  @extend .btn;
  @extend .btn--raised;

  margin-bottom: 10px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  font-size: 22px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: white;
}


.layer-picker {
  &__btn {
    position: absolute;
    top: 10px;
    left: 10px;
  }

  &__wrapper {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(black, .2);
  }

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  padding-top: 10px;
  min-width: 200px;
  max-width: 80%;

  background: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .2);

  > * {
    padding-left: 10px;
    padding-right: 10px;
  }

  &__item {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    text-align: left;

    &.selected {
      background: #ccc;
    }
  }
}

.zoom-btns {
  position: absolute;
  top: 10px;
  right: 10px;
}
