$btn-size: 56px;
$btn-position: 4px;
$btn-margin: 12px;
$btn-font-size: 30px;

$layer-picker-padding-left: 10px;



.leaflet-container {
  height: 100%;
  z-index: 0;
}


.btn--map {
  @extend .btn;
  @extend .btn--raised;

  margin: $btn-margin;
  width: $btn-size;
  height: $btn-size;
  border-radius: 50%;
  font-size: 22px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: white;
}


.layer-picker {
  &__wrapper {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(black, .2);
  }

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  min-width: 30%;
  max-width: 70%;

  display: flex;
  flex-direction: column;

  background: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .2);

  &__header {
    display: flex;
    margin: 10px 4px 10px $layer-picker-padding-left;
  }

  &__content {
    flex: 1 0 0;
    overflow: auto;
  }

  &__title {
    flex-grow: 1;
    margin-bottom: 0;
  }

  &__item {
    padding: 2px 0;
    display: flex;

    &.selected {
      background: adjust-color(white, $lightness: -10%);;
    }
  }

  &__item-border {
    width: 3px;
  }

  &__item-icon {
    align-self: center;
    width: 44px;
    margin-left: 2px;
    margin-right: -2px;
    text-align: center;
    font-size: 24px;
    white-space: nowrap;
  }

  &__item-content {
    display: flex;
    flex-direction: column;
    padding: 8px 24px 8px $layer-picker-padding-left;
  }

  &__item-info {
    @extend .muted;
    font-size: 12px;
    font-weight: bold;
  }
}

.picker-btns {
  position: absolute;
  top: $btn-position;
  left: $btn-position;
}

.zoom-btns {
  position: absolute;
  top: $btn-position;
  right: $btn-position;
}
