$button-size: 50px;
$button-font-size: 30px;



.leaflet-container {
  height: 100%;
  z-index: 0;
}


.leaflet-touch {
  .leaflet-bar a {
    width: $button-size;
    height: $button-size;
    line-height: $button-size;
  }

  .leaflet-control-zoom-in, .leaflet-control-zoom-out {
    font-size: $button-font-size;
  }
}


.zoom-btn {
  &__wrapper {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  margin-bottom: 10px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  font-size: 40px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: white;
}
