html, body {
  margin: 0;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}


#root {
  height: 100%;
}




.btn {
  cursor: pointer;
  background: white;
  border: 1px solid adjust-color(white, $lightness: -20%);

  &:hover {
    background: adjust-color(white, $lightness: -5%);
  }
  &:focus {
    outline: none;
  }
  &:active,
  &.active {
    background: adjust-color(white, $lightness: -10%);
  }

  &--raised {
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);

    &:active,
    &.active {
      box-shadow: 0 4px 8px rgba(0, 0, 0, .2);
    }
  }
}
